@model FinalProject.Models.ViewModle
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ProductBuys";
}
@{

    var buys = Model.Buys.GroupBy(buys => buys.ProductsID).OrderBy

}


<h2>ProductBuys</h2>

