@model FinalProject.Models.ViewModle

@{
	ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<link rel="stylesheet" href="~/Content/IstoreCSS.css" type="text/css" media="screen" />


		<form action="/action_page.php">

			<h3>Post serach :</h3>

			<p>
				Date:<input type="date" name="date">&nbsp;
				to:&nbsp;<input type="date" name="date">
				<br>
				Minimum words:&nbsp; <input type="range" name="minWords" min="1" max="10">
				<br>
				Author:&nbsp;<input type="text" name="name">
				<br>
				E-mail:&nbsp;<input type="email" name="email">
				<br>
				Words:&nbsp;<input type="text" name="words">
			</p>

			<p>
				<input type="submit" value="Filter">
			</p>

		</form>
	




